.row {
  display: flex;
}
.black {
  background-color: black;
}
.white {
  background-color: white;
}
.cell {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(121, 121, 121);
  border-radius:5px;
}
body {
  background-color: blanchedalmond;
}
